.vscode/**
.vscode-test/**
.log/**
out/test/**
test/**
src/**
provision/**
docs/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
build/**
